.home {
    min-height: 100vh;

}

.sty {
    background-color: #F9F5FF !important;
    color: #7F56D9;
    font-weight: 500;
    font-size: 8px;
    text-align: center;
    padding: 7px;
}

.st {
    color: #98A2B3;
    font-weight: 500;
    font-size: 8px;
    border: 1px #98A2B3 dashed;
    text-align: center;
}

.p {
    color: #6C6C6C;
    font-weight: 500;
}

.h {
    color: #000000;
    font-weight: 500;
    font-size: 16px;
}

.maintext {
    color: #63B3ED;
}

.img2 {
    top: 0px;
    bottom: 0px;
    right: 157px;

}

.backmain {
    background-color: #2C5282;
}

.line {

    border-right: 1px solid #6C6C6C;
    height: 70px;
}

.lineL {

    border-left: 1px solid #6C6C6C;
    height: 65px;
}

.linelastsec {

    border-right: 1px solid #6C6C6C;
    height: 35px;
    text-align: center;

}

.cardsty {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.222);
    padding: 10px;
    height: 350px !important;


}

.bglastsec {
    background-color: #BEE3F8;
}

.linelastsec {
    border-right: 1px solid #256C87;
}

.rotateimage {
    transform: rotate(45deg);
    width: 40px;
    height: 40px;
}

.ico {
    width: 3rem;
    padding: 24px;
    height: 3rem;
    background-color: #2B6CB0;
}
/* .iconsty
{
    color:#63B3ED !important ; 
} */

.google {
    width: 90px;
    height: 30px;
}

.apple {
    width: 90px;
    height: 30px;
    margin-left: 10px;
}

.icohome {
    width: 24px;
    height: 24px;
}

.imghome {
    height: 600px;
    width: 580px;
}

.iconlastsec {
    width: 48px;
    height: 48px;
}

/* <,,,,,,,,,,,,,,,,,,,,,,.....................................................................,,> */
/* ==================================== Section1 STY CARD ============================================ */
.cardtitle {
    color: #262626;
    font-size: 1.5em;
    line-height: normal;
    font-weight: 700;
    margin-bottom: 0.5em;
}

.smalldesc {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5em;
    color: #452c2c;
}

.smalldesc {
    font-size: 1em;
}

.gocorner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 2em;
    height: 2em;
    overflow: hidden;
    top: 0;
    right: 0;
    background: linear-gradient(135deg, #6293c8, #384c6c);
    border-radius: 0 4px 0 32px;
}

.goarrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
}

.card {
    display: block;
    position: relative;
    max-width: 300px;
    max-height: 320px;
    background-color: #f2f8f9;
    border-radius: 10px;
    padding: 16px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    background-color:transparent ;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.222);
    padding: 10px;
    height: 350px !important;
}

.card:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: linear-gradient(135deg, #364a60, #384c6c);
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.35s ease-out;
}

.card:hover:before {
    transform: scale(28);
}

.card:hover .smalldesc {
    transition: all 0.5s ease-out;
    color: rgba(255, 255, 255, 0.8);
}

.card:hover .cardtext {
    transition: all 0.5s ease-out;
    color: #ffffff;
}
.card:hover .maintext {
    transition: all 0.5s ease-out;
    color: #ffffff;
}
.card:hover .ico {
    transition: all 0.5s ease-out;

    border: none !important;
}

.card:hover .iconsty {
    color: #ffffff;
    transition: all 0.5s ease-out;

}



/* ===================================================================================================== */
/* This is an example, feel free to delete this code */
.tooltipcontainer {
    --background: #333333;
    --color: #e8e8e8;
    position: relative;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    font-size: 18px;
    font-weight: 600;
    color: var(--color);
    padding: 0.7em 1.8em;
    border-radius: 8px;
    text-transform: uppercase;
    height: 60px;
    width: 180px;
    display: grid;
    place-items: center;
    border: 2px solid var(--color);
  }
  
  .text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    transform-origin: -100%;
    transform: scale(1);
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .tooltipcontainer span:last-child {
    position: absolute;
    top: 0%;
    left: 100%;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    opacity: 1;
    background-color: var(--background);
    z-index: -1;
    border: 2px solid var(--background);
    transform: scale(0);
    transform-origin: 0;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    display: grid;
    place-items: center;
  }
  
  .tooltip {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.3em 0.6em;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    background: var(--background);
    z-index: -1;
    border-radius: 8px;
    scale: 0;
    transform-origin: 0 0;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  }
  
  .tooltip::before {
    position: absolute;
    content: "";
    height: 0.6em;
    width: 0.6em;
    bottom: -0.2em;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    background: var(--background);
  }
  
  .tooltipcontainer:hover .tooltip {
    top: -100%;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    scale: 1;
    animation: shake 0.5s ease-in-out both;
  }
  
  .tooltipcontainer:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    color: white;
    border-color: transparent;
  }
  
  .tooltipcontainer:hover span:last-child {
    transform: scale(1);
    left: 0;
  }
  
  .tooltipcontainer:hover .text {
    opacity: 0;
    top: 0%;
    left: 100%;
    transform: scale(0);
  }
  
  @keyframes shake {
    0% {
      rotate: 0;
    }
  
    25% {
      rotate: 7deg;
    }
  
    50% {
      rotate: -7deg;
    }
  
    75% {
      rotate: 1deg;
    }
  
    100% {
      rotate: 0;
    }
  }
  