.dash{
    color: #90CDF4;
    line-height: 27px;
    
  }
.formsty
{
    box-shadow: 0 0 70px rgba(0, 0, 0, 0.25);
    padding: 16px 8px  40px 8px;

}
.btncolor

{
    background-color: #2B6CB0;
}
.textcontact
{
  color:#5195dd;
  font-weight: 900;
  font-style: oblique;
}